.all-name-list, .selected-names-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 24px;
    justify-content: start;
    align-items: center;
    padding: 0px 18px;
}
.name-item, .selected-name-item {
    color: var(--primary);
    display: inline-flex;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    .close-icon {
        margin-left: 12px;
        color: #888;
        font-size: 16px;
    }
    cursor: pointer;
}
.selected-name-item {
    background-color: var(--primary);
    color: #fff;
}

.search-box {
    padding: 8px 16px;
    button {
        margin: 0 8px;
    }
}